@import "mocha.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono Nerd Font, FontAwesome, sans-serif;
    font-size: 14px;
    min-height: 11px;
    background-color: @base;
    color: #cdd6f4;
}
/* General Styling */
#bar {
    color: @text;
    background-color: @base;
    border-radius: 3px; /* Rounded corners for the entire bar */
}

/* Module Styles */
.module {
    border-radius: 3px;
    padding: 0px 5px;
    margin: 0 3px; /* Space between modules */
    transition: background-color 0.3s;
}

/* Hover effect for modules */
.module:hover {
    background-color: @surface0;
}

/* Specific Module Styles */
#tray {
    background-color: @surface1;
}

#clock {
    background-color: @pink;
    color: #1e1e2e;
}

#battery {
    background-color: @maroon;
    color: #1e1e2e;
}

#backlight {
    background-color: @red;
    color: #1e1e2e;
}

#memory {
    background-color: @green;
    color: #1e1e2e;
}

#cpu {
    background-color: @sapphire;
    color: #1e1e2e;
}

#audio-input {
    background-color: @teal;
    color: #a6adc8;
}

#audio-output {
    background-color: @yellow;
    color: #a6adc8;
}

#workspaces button {
    border-radius: 5px; /* Rounded corners for workspace buttons */
    padding: 0 4px;
    margin: 0 1px;
    transition: background-color 0.3s;
    color: #a6adc8;
}

#workspaces button:hover {
    background-color: @curst; 
    color: #a6adc8;
}

#workspaces button.focused {
    background-color: @rosewater; /* Change focused workspace color */
    color: #a6adc8;
}

.module .text {
    color: @text;
}
